<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460874215224-edhln8j15hobgvv6onrkolo8i99p7hok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460874215224-edhln8j15hobgvv6onrkolo8i99p7hok</string>
	<key>API_KEY</key>
	<string>AIzaSyB-zhtkpIzII8UOsIjc1GEHbv-u1wraPh8</string>
	<key>GCM_SENDER_ID</key>
	<string>460874215224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.virtuenetz.epcc</string>
	<key>PROJECT_ID</key>
	<string>epcc-38d4a</string>
	<key>STORAGE_BUCKET</key>
	<string>epcc-38d4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460874215224:ios:110ebcb953ee3836e69bcd</string>
	<key>DATABASE_URL</key>
	<string>https://epcc-38d4a-default-rtdb.firebaseio.com</string>
</dict>
</plist>